{
  "ambient_light": {
    "X": 1,
    "Y": 1,
    "Z": 1,
    "W": 1
  },
  "player_rigs": [
    {
      "merged_asset_name": "hns_rig",
      "base_rig": "animations/player/playercharacter.spine",
      "rigs_to_merge": [
        "NoisyBaseRig/playercharacter.spine"
      ],
      "fallback_rigs": [

      ]
    }
  ]
}